openapi: 3.1.0
info:
  title: SwitchBook Partner API
  version: 1.0.0
  description: Canonical approved mechanical-switch catalog and moderated contribution API.
  license: { name: Proprietary integration terms, identifier: LicenseRef-SwitchBook-Partner }
servers:
  - url: https://switchbook.app/api/v1
  - url: https://sandbox.switchbook.app/api/v1
security:
  - applicationKey: []
paths:
  /catalog/switches:
    get:
      summary: Search active approved switches
      operationId: searchSwitches
      security: [ { applicationKey: [] }, { oauth: ['catalog:read'] } ]
      parameters:
        - { name: q, in: query, schema: { type: string, maxLength: 120 } }
        - { name: manufacturer, in: query, schema: { type: string } }
        - { name: type, in: query, schema: { type: string } }
        - { name: technology, in: query, schema: { type: string } }
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 25 } }
        - { name: sort, in: query, schema: { type: string, enum: [name, updatedAt, createdAt], default: name } }
        - { name: order, in: query, schema: { type: string, enum: [asc, desc], default: asc } }
      responses:
        '200': { description: A cursor page of lightweight records, headers: { ETag: { $ref: '#/components/headers/ETag' }, Last-Modified: { $ref: '#/components/headers/LastModified' } }, content: { application/json: { schema: { $ref: '#/components/schemas/SearchPage' } } } }
        '304': { description: Not modified }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }
        '500': { $ref: '#/components/responses/Error' }
  /catalog/switches/{id}:
    get:
      summary: Retrieve a canonical record or lifecycle tombstone
      operationId: getSwitch
      security: [ { applicationKey: [] }, { oauth: ['catalog:read'] } ]
      parameters: [ { $ref: '#/components/parameters/SwitchId' } ]
      responses:
        '200': { description: Full record or tombstone, headers: { ETag: { $ref: '#/components/headers/ETag' }, Last-Modified: { $ref: '#/components/headers/LastModified' } }, content: { application/json: { schema: { oneOf: [ { $ref: '#/components/schemas/SwitchResponse' }, { $ref: '#/components/schemas/Tombstone' } ] } } } }
        '304': { description: Not modified }
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }
        '500': { $ref: '#/components/responses/Error' }
  /catalog/switches/batch:
    post:
      summary: Retrieve up to 100 records and tombstones in request order
      operationId: batchGetSwitches
      security: [ { applicationKey: [] }, { oauth: ['catalog:read'] } ]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [ids], properties: { ids: { type: array, minItems: 1, maxItems: 100, items: { type: string } } } } } } }
      responses: { '200': { description: Per-ID results, headers: { ETag: { $ref: '#/components/headers/ETag' }, Last-Modified: { $ref: '#/components/headers/LastModified' } }, content: { application/json: { schema: { $ref: '#/components/schemas/BatchResponse' } } } }, '304': { description: Not modified }, '400': { $ref: '#/components/responses/Error' }, '401': { $ref: '#/components/responses/Error' }, '403': { $ref: '#/components/responses/Error' }, '429': { $ref: '#/components/responses/Error' }, '500': { $ref: '#/components/responses/Error' } }
  /profile:
    get:
      summary: Read the linked SwitchBook profile
      operationId: getProfile
      security: [ { oauth: ['profile:read'] } ]
      responses: { '200': { description: Linked SwitchBook identity, content: { application/json: { schema: { $ref: '#/components/schemas/ProfileResponse' } } } }, '401': { $ref: '#/components/responses/Error' }, '403': { $ref: '#/components/responses/Error' }, '404': { $ref: '#/components/responses/Error' }, '429': { $ref: '#/components/responses/Error' }, '500': { $ref: '#/components/responses/Error' } }
  /submissions:
    get:
      summary: List the current user's partner submissions
      operationId: listSubmissions
      security: [ { oauth: ['submissions:read'] } ]
      responses: { '200': { description: Current user's submissions, content: { application/json: { schema: { $ref: '#/components/schemas/SubmissionList' } } } }, '401': { $ref: '#/components/responses/Error' }, '403': { $ref: '#/components/responses/Error' }, '429': { $ref: '#/components/responses/Error' }, '500': { $ref: '#/components/responses/Error' } }
    post:
      summary: Propose a missing switch for moderation
      operationId: createSubmission
      security: [ { oauth: ['submissions:write'] } ]
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/SwitchProposal' } } } }
      responses: { '202': { description: Proposal accepted for moderation, content: { application/json: { schema: { $ref: '#/components/schemas/SubmissionResponse' } } } }, '400': { $ref: '#/components/responses/Error' }, '401': { $ref: '#/components/responses/Error' }, '403': { $ref: '#/components/responses/Error' }, '409': { $ref: '#/components/responses/Error' }, '429': { $ref: '#/components/responses/Error' }, '500': { $ref: '#/components/responses/Error' } }
  /submissions/{id}:
    get:
      summary: Retrieve one submission's moderation status
      operationId: getSubmission
      security: [ { oauth: ['submissions:read'] } ]
      parameters: [ { name: id, in: path, required: true, schema: { type: string } } ]
      responses: { '200': { description: Submission status and moderator feedback, content: { application/json: { schema: { $ref: '#/components/schemas/SubmissionResponse' } } } }, '401': { $ref: '#/components/responses/Error' }, '403': { $ref: '#/components/responses/Error' }, '404': { $ref: '#/components/responses/Error' }, '429': { $ref: '#/components/responses/Error' }, '500': { $ref: '#/components/responses/Error' } }
  /catalog/switches/{id}/corrections:
    post:
      summary: Suggest a correction to an active canonical record
      operationId: createCorrection
      security: [ { oauth: ['corrections:write'] } ]
      parameters: [ { $ref: '#/components/parameters/SwitchId' }, { $ref: '#/components/parameters/IdempotencyKey' } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/CorrectionProposal' } } } }
      responses: { '202': { description: Correction accepted for moderation, content: { application/json: { schema: { $ref: '#/components/schemas/CorrectionResponse' } } } }, '400': { $ref: '#/components/responses/Error' }, '401': { $ref: '#/components/responses/Error' }, '403': { $ref: '#/components/responses/Error' }, '404': { $ref: '#/components/responses/Error' }, '409': { $ref: '#/components/responses/Error' }, '429': { $ref: '#/components/responses/Error' }, '500': { $ref: '#/components/responses/Error' } }
  /corrections:
    get:
      summary: List the current user's correction suggestions
      operationId: listCorrections
      security: [ { oauth: ['submissions:read'] } ]
      responses: { '200': { description: Current user's correction statuses, content: { application/json: { schema: { $ref: '#/components/schemas/CorrectionList' } } } }, '401': { $ref: '#/components/responses/Error' }, '403': { $ref: '#/components/responses/Error' }, '429': { $ref: '#/components/responses/Error' }, '500': { $ref: '#/components/responses/Error' } }
  /migration/matches:
    post:
      summary: Find reviewed migration candidates without modifying inventory
      operationId: findMigrationMatches
      security: [ { applicationKey: [] }, { oauth: ['catalog:read'] } ]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [entries], properties: { entries: { type: array, minItems: 1, maxItems: 100, items: { type: object, required: [externalId, name], properties: { externalId: { type: string }, name: { type: string }, manufacturer: { type: [string, 'null'] } } } } } } } } }
      responses: { '200': { description: Candidate matches requiring user confirmation }, '400': { $ref: '#/components/responses/Error' }, '401': { $ref: '#/components/responses/Error' }, '403': { $ref: '#/components/responses/Error' }, '429': { $ref: '#/components/responses/Error' }, '500': { $ref: '#/components/responses/Error' } }
components:
  headers:
    ETag: { description: Entity tag for conditional requests, schema: { type: string } }
    LastModified: { description: Last modification timestamp in HTTP-date format, schema: { type: string } }
  securitySchemes:
    applicationKey: { type: apiKey, in: header, name: X-API-Key }
    oauth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://switchbook.app/oauth2/auth
          tokenUrl: https://switchbook.app/oauth2/token
          refreshUrl: https://switchbook.app/oauth2/token
          scopes:
            openid: Authenticate the SwitchBook account
            offline_access: Issue a rotating refresh token
            'catalog:read': Read approved canonical catalog records
            'profile:read': Read linked basic profile
            'submissions:write': Create catalog proposals
            'submissions:read': Read own moderation status
            'corrections:write': Suggest canonical corrections
  parameters:
    SwitchId: { name: id, in: path, required: true, schema: { type: string } }
    IdempotencyKey: { name: Idempotency-Key, in: header, required: true, schema: { type: string, maxLength: 200 } }
  responses:
    Error: { description: Structured error, content: { application/json: { schema: { type: object, properties: { error: { $ref: '#/components/schemas/Error' } } } } } }
  schemas:
    Error: { type: object, required: [code, message, requestId], properties: { code: { type: string }, message: { type: string }, requestId: { type: string }, details: {} } }
    SearchItem: { type: object, required: [id, status, name, manufacturer, type, technology, thumbnail, recordUrl, updatedAt], properties: { id: { type: string }, status: { const: ACTIVE }, mergedIntoId: { type: [string, 'null'] }, name: { type: string }, manufacturer: { type: [string, 'null'] }, type: { type: [string, 'null'] }, technology: { type: [string, 'null'] }, thumbnail: { type: [string, 'null'], format: uri }, recordUrl: { type: string, format: uri }, updatedAt: { type: string, format: date-time } } }
    SearchPage: { type: object, required: [data, page], properties: { data: { type: array, items: { $ref: '#/components/schemas/SearchItem' } }, page: { type: object, required: [nextCursor, hasMore, limit], properties: { nextCursor: { type: [string, 'null'] }, hasMore: { type: boolean }, limit: { type: integer } } } } }
    Image: { type: object, required: [id, url, alt, revision, source, attribution, updatedAt], properties: { id: { type: string }, url: { type: string, format: uri }, alt: { type: string }, width: { type: [integer, 'null'] }, height: { type: [integer, 'null'] }, bytes: { type: [integer, 'null'] }, checksumSha256: { type: [string, 'null'] }, revision: { type: integer }, source: { type: string }, sourceUrl: { type: [string, 'null'], format: uri }, license: { type: [string, 'null'] }, attribution: { type: string }, updatedAt: { type: string, format: date-time } } }
    CatalogSwitch: { type: object, required: [id, status, name, manufacturer, forces, travel, materials, colors, spring, images, forceCurve, recordUrl, attribution, version, createdAt, updatedAt], properties: { id: { type: string }, status: { const: ACTIVE }, mergedIntoId: { type: [string, 'null'] }, name: { type: string }, chineseName: { type: [string, 'null'] }, manufacturer: { type: [string, 'null'] }, type: { type: [string, 'null'] }, technology: { type: [string, 'null'] }, forces: { type: object, additionalProperties: { type: [number, 'null'] } }, travel: { type: object, additionalProperties: { type: [number, 'null'] } }, materials: { type: object, additionalProperties: { type: [string, 'null'] } }, colors: { type: object, additionalProperties: { type: [string, 'null'] } }, stemShape: { type: [string, 'null'] }, spring: { type: object }, magnetic: { type: [object, 'null'] }, clickType: { type: [string, 'null'] }, markings: { type: [string, 'null'] }, compatibility: { type: [string, 'null'] }, notes: { type: [string, 'null'] }, images: { type: array, items: { $ref: '#/components/schemas/Image' } }, thumbnail: { type: [string, 'null'], format: uri }, forceCurve: { type: object, required: [available, url, source, rawDataIncluded, checkedAt], properties: { available: { type: boolean }, url: { type: [string, 'null'], format: uri }, source: { const: SwitchesDB }, rawDataIncluded: { const: false }, checkedAt: { type: [string, 'null'], format: date-time } } }, recordUrl: { type: string, format: uri }, attribution: { type: object }, version: { type: integer }, createdAt: { type: string, format: date-time }, updatedAt: { type: string, format: date-time } } }
    SwitchResponse: { type: object, required: [data], properties: { data: { $ref: '#/components/schemas/CatalogSwitch' } } }
    Tombstone: { type: object, required: [id, status, mergedIntoId, updatedAt], properties: { id: { type: string }, status: { type: string, enum: [MERGED, REMOVED] }, mergedIntoId: { type: [string, 'null'] }, updatedAt: { type: string, format: date-time } } }
    BatchItem: { oneOf: [ { type: object, required: [id, status, data], properties: { id: { type: string }, status: { const: ACTIVE }, data: { $ref: '#/components/schemas/CatalogSwitch' } } }, { $ref: '#/components/schemas/Tombstone' }, { type: object, required: [id, status], properties: { id: { type: string }, status: { const: NOT_FOUND } } } ] }
    BatchResponse: { type: object, required: [data], properties: { data: { type: array, items: { $ref: '#/components/schemas/BatchItem' } } } }
    SubmissionStatus: { type: object, required: [id, status, canonicalId, updatedAt, photosStatus, photos], properties: { id: { type: string }, status: { type: string, enum: [draft, submitted, needs_changes, approved, rejected] }, moderatorFeedback: { type: [string, 'null'] }, canonicalId: { type: [string, 'null'] }, candidateId: { type: [string, 'null'] }, updatedAt: { type: string, format: date-time }, photosStatus: { type: string, enum: [processing, complete] }, photos: { type: array, items: { type: object, required: [remoteUrl, sourceUrl, status, error], properties: { remoteUrl: { type: string, format: uri }, sourceUrl: { type: [string, 'null'], format: uri }, status: { type: string, enum: [pending, processing, succeeded, failed] }, error: { type: [string, 'null'] } } } } } }
    SubmissionResponse: { type: object, required: [data], properties: { data: { $ref: '#/components/schemas/SubmissionStatus' } } }
    SubmissionList: { type: object, required: [data], properties: { data: { type: array, items: { $ref: '#/components/schemas/SubmissionStatus' } } } }
    CorrectionStatus: { type: object, required: [id, switchId, status, updatedAt], properties: { id: { type: string }, switchId: { type: string }, status: { type: string, enum: [submitted, needs_changes, approved, rejected] }, moderatorFeedback: { type: [string, 'null'] }, updatedAt: { type: string, format: date-time } } }
    CorrectionResponse: { type: object, required: [data], properties: { data: { $ref: '#/components/schemas/CorrectionStatus' } } }
    CorrectionList: { type: object, required: [data], properties: { data: { type: array, items: { $ref: '#/components/schemas/CorrectionStatus' } } } }
    ProfileResponse: { type: object, required: [data], properties: { data: { type: object, required: [sub, username, email, emailVerified, createdAt], properties: { sub: { type: string }, username: { type: string }, email: { type: string, format: email }, emailVerified: { type: boolean }, createdAt: { type: string, format: date-time } } } } }
    PhotoProposal: { type: object, required: [url, alt], properties: { url: { type: string, format: uri }, alt: { type: string, minLength: 1, maxLength: 500 }, sourceUrl: { type: string, format: uri }, license: { type: string }, attribution: { type: string } } }
    SwitchProposal:
      type: object
      required: [name, manufacturer, submissionNotes]
      properties:
        name: { type: string, minLength: 1, maxLength: 200 }
        manufacturer: { type: string, minLength: 1, maxLength: 150 }
        chineseName: { type: [string, 'null'] }
        type: { type: [string, 'null'], enum: [LINEAR, TACTILE, CLICKY, SILENT_LINEAR, SILENT_TACTILE, MOUSE, null] }
        technology: { type: [string, 'null'], enum: [MECHANICAL, OPTICAL, MAGNETIC, INDUCTIVE, ELECTRO_CAPACITIVE, null] }
        initialForce: { type: [number, 'null'] }
        actuationForce: { type: [number, 'null'] }
        tactileForce: { type: [number, 'null'] }
        bottomOutForce: { type: [number, 'null'] }
        preTravel: { type: [number, 'null'] }
        bottomOut: { type: [number, 'null'] }
        springWeight: { type: [string, 'null'] }
        springLength: { type: [string, 'null'] }
        tactilePosition: { type: [number, 'null'] }
        progressiveSpring: { type: boolean }
        doubleStage: { type: boolean }
        compatibility: { type: [string, 'null'] }
        topHousing: { type: [string, 'null'] }
        bottomHousing: { type: [string, 'null'] }
        stem: { type: [string, 'null'] }
        topHousingColor: { type: [string, 'null'] }
        bottomHousingColor: { type: [string, 'null'] }
        stemColor: { type: [string, 'null'] }
        stemShape: { type: [string, 'null'] }
        markings: { type: [string, 'null'] }
        magnetOrientation: { type: [string, 'null'] }
        magnetPosition: { type: [string, 'null'] }
        magnetPolarity: { type: [string, 'null'] }
        initialMagneticFlux: { type: [number, 'null'] }
        bottomOutMagneticFlux: { type: [number, 'null'] }
        pcbThickness: { type: [string, 'null'] }
        notes: { type: [string, 'null'] }
        photos: { type: array, maxItems: 8, items: { $ref: '#/components/schemas/PhotoProposal' } }
        submissionNotes: { type: string, minLength: 10, maxLength: 4000 }
        confirmNotDuplicate: { type: boolean, default: false }
    CorrectionProposal: { type: object, required: [changes, reason], properties: { changes: { type: object, minProperties: 1, additionalProperties: true }, reason: { type: string, minLength: 10, maxLength: 4000 } } }
