openapi: 3.1.0
info:
  title: SwitchBook Partner API
  version: 1.0.0
  description: Canonical approved mechanical-switch catalog and moderated contribution API.
  license: { name: Proprietary integration terms, identifier: LicenseRef-SwitchBook-Partner }
servers:
  - url: https://switchbook.app/api/v1
  - url: https://sandbox.switchbook.app/api/v1
security:
  - applicationKey: []
paths:
  /catalog/switches:
    get:
      summary: Search active approved switches
      operationId: searchSwitches
      parameters:
        - { name: q, in: query, schema: { type: string, maxLength: 120 } }
        - { name: manufacturer, in: query, schema: { type: string } }
        - { name: type, in: query, schema: { type: string } }
        - { name: technology, in: query, schema: { type: string } }
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 25 } }
        - { name: sort, in: query, schema: { type: string, enum: [name, updatedAt, createdAt], default: name } }
        - { name: order, in: query, schema: { type: string, enum: [asc, desc], default: asc } }
      responses:
        '200': { description: A cursor page of lightweight records, headers: { ETag: { schema: { type: string } }, Last-Modified: { schema: { type: string } } }, content: { application/json: { schema: { $ref: '#/components/schemas/SearchPage' } } } }
        '304': { description: Not modified }
        '401': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }
  /catalog/switches/{id}:
    get:
      summary: Retrieve a canonical record or lifecycle tombstone
      operationId: getSwitch
      parameters: [ { $ref: '#/components/parameters/SwitchId' } ]
      responses:
        '200': { description: Full record or tombstone, content: { application/json: { schema: { type: object } } } }
        '404': { $ref: '#/components/responses/Error' }
  /catalog/switches/batch:
    post:
      summary: Retrieve up to 100 records and tombstones in request order
      operationId: batchGetSwitches
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [ids], properties: { ids: { type: array, minItems: 1, maxItems: 100, items: { type: string } } } } } } }
      responses: { '200': { description: Per-ID results, content: { application/json: { schema: { type: object } } } }, '400': { $ref: '#/components/responses/Error' } }
  /profile:
    get:
      summary: Read the linked SwitchBook profile
      operationId: getProfile
      security: [ { oauth: [profile:read] } ]
      responses: { '200': { description: Linked SwitchBook identity, content: { application/json: { schema: { $ref: '#/components/schemas/ProfileResponse' } } } }, '401': { $ref: '#/components/responses/Error' } }
  /submissions:
    get:
      summary: List the current user's partner submissions
      operationId: listSubmissions
      security: [ { oauth: [submissions:read] } ]
      responses: { '200': { description: Current user's submissions }, '401': { $ref: '#/components/responses/Error' } }
    post:
      summary: Propose a missing switch for moderation
      operationId: createSubmission
      security: [ { oauth: [submissions:write] } ]
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/SwitchProposal' } } } }
      responses: { '202': { description: Proposal accepted for moderation }, '409': { description: Possible duplicate or idempotency conflict } }
  /submissions/{id}:
    get:
      summary: Retrieve one submission's moderation status
      operationId: getSubmission
      security: [ { oauth: [submissions:read] } ]
      parameters: [ { name: id, in: path, required: true, schema: { type: string } } ]
      responses: { '200': { description: Submission status and moderator feedback }, '404': { $ref: '#/components/responses/Error' } }
  /catalog/switches/{id}/corrections:
    post:
      summary: Suggest a correction to an active canonical record
      operationId: createCorrection
      security: [ { oauth: [corrections:write] } ]
      parameters: [ { $ref: '#/components/parameters/SwitchId' }, { $ref: '#/components/parameters/IdempotencyKey' } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/CorrectionProposal' } } } }
      responses: { '202': { description: Correction accepted for moderation }, '400': { $ref: '#/components/responses/Error' } }
  /corrections:
    get:
      summary: List the current user's correction suggestions
      operationId: listCorrections
      security: [ { oauth: [submissions:read] } ]
      responses: { '200': { description: Current user's correction statuses }, '401': { $ref: '#/components/responses/Error' } }
  /migration/matches:
    post:
      summary: Find reviewed migration candidates without modifying inventory
      operationId: findMigrationMatches
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [entries], properties: { entries: { type: array, minItems: 1, maxItems: 100, items: { type: object, required: [externalId, name], properties: { externalId: { type: string }, name: { type: string }, manufacturer: { type: [string, 'null'] } } } } } } } } }
      responses: { '200': { description: Candidate matches requiring user confirmation }, '400': { $ref: '#/components/responses/Error' } }
components:
  securitySchemes:
    applicationKey: { type: apiKey, in: header, name: X-API-Key }
    oauth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://switchbook.app/oauth2/auth
          tokenUrl: https://switchbook.app/oauth2/token
          refreshUrl: https://switchbook.app/oauth2/token
          scopes:
            openid: Authenticate the SwitchBook account
            offline_access: Issue a rotating refresh token
            profile:read: Read linked basic profile
            submissions:write: Create catalog proposals
            submissions:read: Read own moderation status
            corrections:write: Suggest canonical corrections
  parameters:
    SwitchId: { name: id, in: path, required: true, schema: { type: string } }
    IdempotencyKey: { name: Idempotency-Key, in: header, required: true, schema: { type: string, maxLength: 200 } }
  responses:
    Error: { description: Structured error, content: { application/json: { schema: { type: object, properties: { error: { $ref: '#/components/schemas/Error' } } } } } }
  schemas:
    Error: { type: object, required: [code, message, requestId], properties: { code: { type: string }, message: { type: string }, requestId: { type: string }, details: {} } }
    SearchPage: { type: object, required: [data, page], properties: { data: { type: array, items: { type: object } }, page: { type: object } } }
    ProfileResponse: { type: object, required: [data], properties: { data: { type: object, required: [sub, username, email, emailVerified, createdAt], properties: { sub: { type: string }, username: { type: string }, email: { type: string, format: email }, emailVerified: { type: boolean }, createdAt: { type: string, format: date-time } } } } }
    PhotoProposal: { type: object, required: [url, alt], properties: { url: { type: string, format: uri }, alt: { type: string, minLength: 1, maxLength: 500 }, sourceUrl: { type: string, format: uri }, license: { type: string }, attribution: { type: string } } }
    SwitchProposal:
      type: object
      required: [name, manufacturer, submissionNotes]
      properties:
        name: { type: string, minLength: 1, maxLength: 200 }
        manufacturer: { type: string, minLength: 1, maxLength: 150 }
        chineseName: { type: [string, 'null'] }
        type: { type: [string, 'null'], enum: [LINEAR, TACTILE, CLICKY, SILENT_LINEAR, SILENT_TACTILE, MOUSE, null] }
        technology: { type: [string, 'null'], enum: [MECHANICAL, OPTICAL, MAGNETIC, INDUCTIVE, ELECTRO_CAPACITIVE, null] }
        initialForce: { type: [number, 'null'] }
        actuationForce: { type: [number, 'null'] }
        tactileForce: { type: [number, 'null'] }
        bottomOutForce: { type: [number, 'null'] }
        preTravel: { type: [number, 'null'] }
        bottomOut: { type: [number, 'null'] }
        springWeight: { type: [string, 'null'] }
        springLength: { type: [string, 'null'] }
        compatibility: { type: [string, 'null'] }
        photos: { type: array, maxItems: 8, items: { $ref: '#/components/schemas/PhotoProposal' } }
        submissionNotes: { type: string, minLength: 10, maxLength: 4000 }
        confirmNotDuplicate: { type: boolean, default: false }
    CorrectionProposal: { type: object, required: [changes, reason], properties: { changes: { type: object, minProperties: 1, additionalProperties: true }, reason: { type: string, minLength: 10, maxLength: 4000 } } }
