openapi: 3.1.0
info:
  title: SwitchBook Partner API
  version: 1.0.0
  description: Canonical approved mechanical-switch catalog and moderated contribution API.
  license: { name: Proprietary integration terms, identifier: LicenseRef-SwitchBook-Partner }
servers:
  - url: https://switchbook.app/api/v1
  - url: https://sandbox.switchbook.app/api/v1
security:
  - applicationKey: []
paths:
  /catalog/switches:
    get:
      summary: Search active approved switches
      parameters:
        - { name: q, in: query, schema: { type: string, maxLength: 120 } }
        - { name: manufacturer, in: query, schema: { type: string } }
        - { name: type, in: query, schema: { type: string } }
        - { name: technology, in: query, schema: { type: string } }
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 25 } }
      responses:
        '200': { description: A cursor page of lightweight records, headers: { ETag: { schema: { type: string } }, Last-Modified: { schema: { type: string } } }, content: { application/json: { schema: { $ref: '#/components/schemas/SearchPage' } } } }
        '304': { description: Not modified }
        '401': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }
  /catalog/switches/{id}:
    get:
      summary: Retrieve a canonical record or lifecycle tombstone
      parameters: [ { $ref: '#/components/parameters/SwitchId' } ]
      responses:
        '200': { description: Full record or tombstone, content: { application/json: { schema: { type: object } } } }
        '404': { $ref: '#/components/responses/Error' }
  /catalog/switches/batch:
    post:
      summary: Retrieve up to 100 records and tombstones in request order
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [ids], properties: { ids: { type: array, minItems: 1, maxItems: 100, items: { type: string } } } } } } }
      responses: { '200': { description: Per-ID results, content: { application/json: { schema: { type: object } } } } }
  /profile:
    get:
      summary: Read the linked SwitchBook profile
      security: [ { oauth: [profile:read] } ]
      responses: { '200': { description: Linked SwitchBook identity } }
  /submissions:
    get:
      summary: List the current user's partner submissions
      security: [ { oauth: [submissions:read] } ]
      responses: { '200': { description: Current user's submissions } }
    post:
      summary: Propose a missing switch for moderation
      security: [ { oauth: [submissions:write] } ]
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      responses: { '202': { description: Proposal accepted for moderation }, '409': { description: Possible duplicate or idempotency conflict } }
  /submissions/{id}:
    get:
      summary: Retrieve one submission's moderation status
      security: [ { oauth: [submissions:read] } ]
      parameters: [ { name: id, in: path, required: true, schema: { type: string } } ]
      responses: { '200': { description: Submission status and moderator feedback } }
  /catalog/switches/{id}/corrections:
    post:
      summary: Suggest a correction to an active canonical record
      security: [ { oauth: [corrections:write] } ]
      parameters: [ { $ref: '#/components/parameters/SwitchId' }, { $ref: '#/components/parameters/IdempotencyKey' } ]
      responses: { '202': { description: Correction accepted for moderation } }
  /corrections:
    get:
      summary: List the current user's correction suggestions
      security: [ { oauth: [submissions:read] } ]
      responses: { '200': { description: Current user's correction statuses } }
  /migration/matches:
    post:
      summary: Find reviewed migration candidates without modifying inventory
      responses: { '200': { description: Candidate matches requiring user confirmation } }
components:
  securitySchemes:
    applicationKey: { type: apiKey, in: header, name: X-API-Key }
    oauth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://switchbook.app/oauth2/auth
          tokenUrl: https://switchbook.app/oauth2/token
          refreshUrl: https://switchbook.app/oauth2/token
          scopes:
            profile:read: Read linked basic profile
            submissions:write: Create catalog proposals
            submissions:read: Read own moderation status
            corrections:write: Suggest canonical corrections
  parameters:
    SwitchId: { name: id, in: path, required: true, schema: { type: string } }
    IdempotencyKey: { name: Idempotency-Key, in: header, required: true, schema: { type: string, maxLength: 200 } }
  responses:
    Error: { description: Structured error, content: { application/json: { schema: { type: object, properties: { error: { $ref: '#/components/schemas/Error' } } } } } }
  schemas:
    Error: { type: object, required: [code, message, requestId], properties: { code: { type: string }, message: { type: string }, requestId: { type: string }, details: {} } }
    SearchPage: { type: object, required: [data, page], properties: { data: { type: array, items: { type: object } }, page: { type: object } } }
